python-telegram-bot[all]==21.5
aiohttp>=3.11.0
python-dotenv==1.2.2
pydantic==2.9.2
pydantic-settings==2.4.0
cryptography>=44.0.0
sqlalchemy==2.0.37
aiomysql>=0.2.1
redis==5.2.0
requests>=2.32.4
ratelimit==2.2.1
pycryptodome==3.21.0
bleach==6.2.0
python-dateutil==2.9.0.post0
